* {
  background-image: url(/../images/spotify-background.jpeg);
  background-size: 100%;
}

.styles {
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

button {
  color: beige;
}
